.mediaViewInfo {
	--web-view-name: 메인1;
	--web-view-id: n_;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: Noto Sans CJK KR;
}
:root {
	--web-view-ids: n_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_ {
	position: absolute;
	width: 1920px;
	height: 4320px;
	font-family: Noto Sans CJK KR;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 메인1;
	--web-view-id: n_;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: Noto Sans CJK KR;
}
#n_3 {
	position: absolute;
	width: 1920px;
	height: 1034px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#n_3_h {
	opacity: 0.5;
	filter: blur(30px);
	fill: rgba(255,255,255,1);
}
.n_3_h {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1034px;
	left: 0px;
	top: 0px;
}
#n_2 {
	fill: rgba(255,255,255,1);
}
.n_2 {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 600px;
	height: 692px;
	left: 587px;
	top: 187px;
}
#n___________________ {
	left: 643px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_3213213 {
	position: absolute;
	width: 136px;
	height: 135px;
	left: 750px;
	top: 30px;
	overflow: visible;
}
#Text {
	left: 886px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#n__1 {
	mix-blend-mode: normal;
	position: absolute;
	width: 1920.694px;
	height: 4320px;
	left: -0.262px;
	top: 0px;
	overflow: hidden;
}
#BG {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 4320px;
	left: 0.262px;
	top: 0px;
}
#n__1_o {
	filter: blur(8px);
	position: absolute;
	width: 2044px;
	height: 1080px;
	left: -54.738px;
	top: 1080px;
	overflow: visible;
}
#n__ {
	filter: blur(8px);
	position: absolute;
	width: 2044px;
	height: 1089px;
	left: -54.738px;
	top: 0px;
	overflow: visible;
}
#n___q {
	filter: blur(8px);
	position: absolute;
	width: 2044.694px;
	height: 920.621px;
	left: -55px;
	top: 3253px;
	overflow: visible;
}
#n_11 {
	fill: rgba(104,104,104,1);
}
.n_11 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0.262px;
	top: 4182px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_t {
	fill: url(#n_3_t);
}
.n_3_t {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 8.747px;
	left: 0.262px;
	top: 4182.247px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13_v {
	fill: url(#n_13_v);
}
.n_13_v {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 18.137px;
	left: 0.262px;
	top: 1070.932px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11_w {
	position: absolute;
	width: 445px;
	height: 393px;
	left: 344.262px;
	top: 364px;
	overflow: visible;
}
#n_27 {
	position: absolute;
	width: 445px;
	height: 393px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_9 {
	position: absolute;
	width: 383px;
	height: 351.407px;
	left: 0px;
	top: 41.593px;
	overflow: visible;
}
#n_1 {
	fill: rgba(255,255,255,1);
}
.n_1 {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 381px;
	left: 0px;
	top: 0.407px;
}
#n_5 {
	position: absolute;
	width: 382.84px;
	height: 58.03px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_2_ {
	fill: rgba(215,180,249,1);
}
.n_2_ {
	overflow: visible;
	position: absolute;
	width: 382.84px;
	height: 58.03px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4 {
	position: absolute;
	width: 100px;
	height: 23px;
	left: 25px;
	top: 18.407px;
	overflow: visible;
}
#n_1_ {
	fill: rgba(255,125,125,1);
}
.n_1_ {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 0px;
	top: 0px;
}
#n_2_ba {
	fill: rgba(255,194,125,1);
}
.n_2_ba {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 23px;
	left: 39px;
	top: 0px;
}
#n_3_ {
	fill: rgba(255,246,125,1);
}
.n_3_ {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 77px;
	top: 0px;
}
#n_8 {
	position: absolute;
	width: 383px;
	height: 352px;
	left: 62px;
	top: 0px;
	overflow: visible;
}
#n_1_ba {
	fill: rgba(255,255,255,1);
}
.n_1_ba {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 382px;
	left: 0px;
	top: 0px;
}
#n_5_ {
	position: absolute;
	width: 382.84px;
	height: 58.03px;
	left: 0.06px;
	top: 0.488px;
	overflow: visible;
}
#n_1_bb {
	fill: rgba(206,209,255,1);
}
.n_1_bb {
	overflow: visible;
	position: absolute;
	width: 382.84px;
	height: 58.03px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4_ba {
	position: absolute;
	width: 100px;
	height: 23px;
	left: 24.94px;
	top: 18.512px;
	overflow: visible;
}
#n_1_bc {
	fill: rgba(255,125,125,1);
}
.n_1_bc {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 0px;
	top: 0px;
}
#n_2_bc {
	fill: rgba(255,194,125,1);
}
.n_2_bc {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 23px;
	left: 39px;
	top: 0px;
}
#n_3_bd {
	fill: rgba(255,246,125,1);
}
.n_3_bd {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 77px;
	top: 0px;
}
#n___be {
	opacity: 0.9;
	left: 112px;
	top: 88px;
	position: absolute;
	overflow: visible;
	width: 285px;
	height: 176px;
	line-height: 60px;
	margin-top: -10px;
	text-align: center;
	font-family: S-Core Dream 5, Noto Sans CJK KR;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#n_29 {
	position: absolute;
	width: 214px;
	height: 44px;
	left: 853.262px;
	top: 4236px;
	overflow: visible;
}
#n_10 {
	fill: rgba(255,255,255,1);
}
.n_10 {
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 44px;
	left: 0px;
	top: 0px;
}
#Copyright_ParkJunHyeok {
	left: 11px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 193px;
	height: 21px;
	text-align: center;
	font-family: S-Core Dream 5, Noto Sans CJK KR;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(23,0,148,1);
}
#n_5_bi {
	fill: rgba(125,125,125,1);
}
.n_5_bi {
	overflow: visible;
	position: absolute;
	width: 270px;
	height: 1px;
	left: 1650.262px;
	top: 4320px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3213213_bj {
	position: absolute;
	width: 521px;
	height: 521px;
	left: 960.262px;
	top: 300px;
	overflow: visible;
}
#n_6 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_6 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 1652.42px;
	top: 720.116px;
	transform: matrix(1,0,0,1,0,0);
}
#n_139 {
	position: absolute;
	width: 573px;
	height: 510.501px;
	left: 1077.262px;
	top: 1164px;
	overflow: visible;
}
#n_38 {
	position: absolute;
	width: 573px;
	height: 510.501px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1_bn {
	fill: rgba(255,255,255,1);
}
.n_1_bn {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 603px;
	height: 540.501px;
	left: 0px;
	top: 0px;
}
#n_5_bo {
	position: absolute;
	width: 573px;
	height: 84px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_bp {
	fill: rgba(226,255,254,1);
}
.n_4_bp {
	position: absolute;
	overflow: visible;
	width: 573px;
	height: 84px;
	left: 0px;
	top: 0px;
}
#n_4_bq {
	position: absolute;
	width: 145px;
	height: 33px;
	left: 37px;
	top: 27px;
	overflow: visible;
}
#n_1_br {
	fill: rgba(255,125,125,1);
}
.n_1_br {
	position: absolute;
	overflow: visible;
	width: 33px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#n_2_bs {
	fill: rgba(255,194,125,1);
}
.n_2_bs {
	position: absolute;
	overflow: visible;
	width: 33px;
	height: 33px;
	left: 56px;
	top: 0px;
}
#n_3_bt {
	fill: rgba(255,246,125,1);
}
.n_3_bt {
	position: absolute;
	overflow: visible;
	width: 33px;
	height: 33px;
	left: 112px;
	top: 0px;
}
#n_141 {
	position: absolute;
	width: 509px;
	height: 277.501px;
	left: 40px;
	top: 177px;
	overflow: visible;
}
#n__bv {
	left: 20px;
	top: 0.61px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_bw {
	left: 157px;
	top: 0.61px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_bx {
	left: 267px;
	top: 0.61px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_by {
	left: 393px;
	top: 0.61px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_1_bz {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1_bz {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 277.501px;
	left: 134.312px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2_b {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2_b {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 173.292px;
	left: 244.375px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_b {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_3_b {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 277.501px;
	left: 333.363px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0200102 {
	left: 0px;
	top: 36.61px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_0201218 {
	left: 0px;
	top: 70.61px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_0210319 {
	left: 0px;
	top: 104.61px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_0210611 {
	left: 0px;
	top: 138.61px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_0210716 {
	left: 0px;
	top: 172.61px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n__b {
	left: 143px;
	top: 36.61px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#GTQ {
	left: 165px;
	top: 70.61px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#GTQi {
	left: 162px;
	top: 104.61px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#GTQId {
	left: 154px;
	top: 138.61px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_cb {
	left: 141px;
	top: 177.61px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(81,81,81,1);
}
#A {
	left: 272px;
	top: 36.61px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n__cd {
	left: 272px;
	top: 70.61px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n__ce {
	left: 272px;
	top: 104.61px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n__cf {
	left: 272px;
	top: 138.61px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_cg {
	left: 351px;
	top: 36.61px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_ch {
	left: 351px;
	top: 70.61px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_ci {
	left: 351px;
	top: 138.61px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_cj {
	left: 340px;
	top: 172.61px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_ck {
	left: 351px;
	top: 104.61px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_12 {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12 {
	overflow: visible;
	position: absolute;
	width: 494.116px;
	height: 3px;
	left: 0.245px;
	top: 36.883px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cm {
	left: 38px;
	top: 110px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 41px;
	color: rgba(0,0,0,1);
}
#n_44 {
	position: absolute;
	width: 739px;
	height: 560px;
	left: 273.262px;
	top: 1320px;
	overflow: visible;
}
#n_42 {
	position: absolute;
	width: 739px;
	height: 560px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1_cp {
	fill: rgba(255,255,255,1);
}
.n_1_cp {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 769px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#n_5_cq {
	position: absolute;
	width: 739px;
	height: 72px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_cr {
	fill: rgba(226,255,254,1);
}
.n_4_cr {
	position: absolute;
	overflow: visible;
	width: 739px;
	height: 72px;
	left: 0px;
	top: 0px;
}
#n_4_cs {
	position: absolute;
	width: 124px;
	height: 28px;
	left: 31px;
	top: 23px;
	overflow: visible;
}
#n_1_ct {
	fill: rgba(255,125,125,1);
}
.n_1_ct {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#n_2_cu {
	fill: rgba(255,194,125,1);
}
.n_2_cu {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 48px;
	top: 0px;
}
#n_3_cv {
	fill: rgba(255,246,125,1);
}
.n_3_cv {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 96px;
	top: 0px;
}
#n_____________________________ {
	left: 6px;
	top: 234px;
	position: absolute;
	overflow: visible;
	width: 731px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(81,81,81,1);
}
#n__cx {
	left: 251px;
	top: 84px;
	position: absolute;
	overflow: visible;
	width: 247px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#n__cy {
	left: 290px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#n_________ {
	left: 88px;
	top: 139px;
	position: absolute;
	overflow: visible;
	width: 564px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(81,81,81,1);
}
#n_45 {
	position: absolute;
	width: 573px;
	height: 382px;
	left: 1077.262px;
	top: 1711px;
	overflow: visible;
}
#n_1_c {
	fill: rgba(255,255,255,1);
}
.n_1_c {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 603px;
	height: 412px;
	left: 0px;
	top: 0px;
}
#n_1_da {
	position: absolute;
	width: 516px;
	height: 234px;
	left: 19px;
	top: 114px;
	overflow: visible;
}
#Ae {
	position: absolute;
	width: 62px;
	height: 62px;
	left: 268px;
	top: 3px;
	overflow: visible;
}
#ai {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1px;
	top: 86px;
	overflow: visible;
}
#Id {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1px;
	top: 169px;
	overflow: visible;
}
#Pr {
	position: absolute;
	width: 62px;
	height: 62px;
	left: 268px;
	top: 86px;
	overflow: visible;
}
#PS {
	position: absolute;
	width: 65px;
	height: 65px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#xd {
	position: absolute;
	width: 65px;
	height: 65px;
	left: 268px;
	top: 169px;
	overflow: visible;
}
#Adobe_Xd {
	left: 359px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Adobe_Premiere_Pro {
	left: 359px;
	top: 106px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Adobe_After_Effects {
	left: 359px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 150px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Adobe_Photoshop {
	left: 88px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Adobe_Illustrator {
	left: 88px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Adobe_InDesign {
	left: 88px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#n___df {
	left: 123px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 301px;
	white-space: nowrap;
	text-align: center;
	font-family: S-Core Dream 5, Noto Sans CJK KR;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#n_5_dg {
	position: absolute;
	width: 573px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_dh {
	fill: rgba(226,255,254,1);
}
.n_4_dh {
	position: absolute;
	overflow: visible;
	width: 573px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n_4_di {
	position: absolute;
	width: 71px;
	height: 16px;
	left: 19px;
	top: 13px;
	overflow: visible;
}
#n_1_dj {
	fill: rgba(255,125,125,1);
}
.n_1_dj {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#n_2_dk {
	fill: rgba(255,194,125,1);
}
.n_2_dk {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 16px;
	left: 26px;
	top: 0px;
}
#n_3_dl {
	fill: rgba(255,246,125,1);
}
.n_3_dl {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 55px;
	top: 0px;
}
#n__dm {
	left: 22.262px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n__dn {
	left: 22.262px;
	top: 1112px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n_1_do {
	filter: blur(8px);
	position: absolute;
	width: 2044px;
	height: 1080px;
	left: -54.738px;
	top: 2160px;
	overflow: visible;
}
#n__dp {
	left: 22.262px;
	top: 2185px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n_15_dr {
	fill: url(#n_15_dr);
}
.n_15_dr {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 18.137px;
	left: 0.262px;
	top: 2150.932px;
	transform: matrix(1,0,0,1,0,0);
}
#n_14_dt {
	fill: url(#n_14_dt);
}
.n_14_dt {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 18.137px;
	left: 0.262px;
	top: 3230.932px;
	transform: matrix(1,0,0,1,0,0);
}
#n__du {
	left: 22.262px;
	top: 3262px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n_135 {
	position: absolute;
	width: 684px;
	height: 669px;
	left: 605.262px;
	top: 3456px;
	overflow: visible;
}
#n_50 {
	position: absolute;
	width: 684px;
	height: 669px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1_dx {
	fill: rgba(255,255,255,1);
}
.n_1_dx {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 714px;
	height: 699px;
	left: 0px;
	top: 0px;
}
#n_5_dy {
	position: absolute;
	width: 684px;
	height: 72px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_dz {
	fill: rgba(226,255,254,1);
}
.n_4_dz {
	position: absolute;
	overflow: visible;
	width: 684px;
	height: 72px;
	left: 0px;
	top: 0px;
}
#n_4_d {
	position: absolute;
	width: 124px;
	height: 28px;
	left: 31px;
	top: 23px;
	overflow: visible;
}
#n_1_d {
	fill: rgba(255,125,125,1);
}
.n_1_d {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#n_2_d {
	fill: rgba(255,194,125,1);
}
.n_2_d {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 48px;
	top: 0px;
}
#n_3_d {
	fill: rgba(255,246,125,1);
}
.n_3_d {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 96px;
	top: 0px;
}
#n_____________________ {
	left: 111px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 463px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#n_51 {
	position: absolute;
	width: 331px;
	height: 212.684px;
	left: 759.262px;
	top: 3240px;
	overflow: visible;
}
#Text_d {
	left: 213px;
	top: 58px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	color: rgba(255,255,255,1);
}
#n_3213213_d {
	position: absolute;
	width: 213px;
	height: 212.685px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_53 {
	position: absolute;
	width: 378.891px;
	height: 105px;
	left: 270.262px;
	top: 4205.5px;
	overflow: visible;
}
#n_12_d {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 0px;
	top: 3px;
	overflow: visible;
}
#Path {
	fill: rgba(97,87,255,1);
}
.Path {
	overflow: visible;
	position: absolute;
	width: 102px;
	height: 102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0.891px;
	top: 1px;
	overflow: visible;
}
#n_52 {
	position: absolute;
	width: 266.891px;
	height: 102px;
	left: 112px;
	top: 0px;
	overflow: visible;
}
#n_26 {
	position: absolute;
	width: 254px;
	height: 102px;
	left: 12.891px;
	top: 0px;
	overflow: visible;
}
#n_11_ee {
	fill: rgba(255,255,255,1);
}
.n_11_ee {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 102px;
	left: 0px;
	top: 0px;
}
#n_28 {
	position: absolute;
	width: 227px;
	height: 85px;
	left: 10px;
	top: 10px;
	overflow: visible;
}
#HomePage_Production__Park_Jun_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 228px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -5.5px;
	text-align: left;
	font-family: S-Core Dream 5, Noto Sans CJK KR;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(23,0,148,1);
}
#mobile-alt {
	fill: rgba(0,0,0,0.6);
}
.mobile-alt {
	overflow: visible;
	position: absolute;
	width: 13.676px;
	height: 21.882px;
	left: 2.026px;
	top: 54px;
	transform: matrix(1,0,0,1,0,0);
}
#desktop {
	fill: rgba(0,0,0,0.6);
}
.desktop {
	overflow: visible;
	position: absolute;
	width: 18.05px;
	height: 16.045px;
	left: 0px;
	top: 81px;
	transform: matrix(1,0,0,1,0,0);
}
#address-book {
	fill: rgba(0,0,0,0.6);
}
.address-book {
	overflow: visible;
	position: absolute;
	width: 13.676px;
	height: 15.63px;
	left: 2.026px;
	top: 8.772px;
	transform: matrix(1,0,0,1,0,0);
}
#building {
	fill: rgba(0,0,0,0.6);
}
.building {
	overflow: visible;
	position: absolute;
	width: 16.941px;
	height: 19.361px;
	left: 0.394px;
	top: 29.521px;
	transform: matrix(1,0,0,1,0,0);
}
#n_137 {
	position: absolute;
	width: 253px;
	height: 195px;
	left: 1341.262px;
	top: 3930px;
	overflow: visible;
}
#n_134 {
	position: absolute;
	width: 253px;
	height: 195px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_57 {
	position: absolute;
	width: 253px;
	height: 195px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1_eo {
	fill: rgba(255,255,255,1);
}
.n_1_eo {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 283px;
	height: 225px;
	left: 0px;
	top: 0px;
}
#n_5_ep {
	position: absolute;
	width: 253px;
	height: 47px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_eq {
	fill: rgba(226,255,254,1);
}
.n_4_eq {
	position: absolute;
	overflow: visible;
	width: 253px;
	height: 47px;
	left: 0px;
	top: 0px;
}
#n_4_er {
	position: absolute;
	width: 82px;
	height: 18px;
	left: 20px;
	top: 15px;
	overflow: visible;
}
#n_1_es {
	fill: rgba(255,125,125,1);
}
.n_1_es {
	position: absolute;
	overflow: visible;
	width: 19px;
	height: 18px;
	left: 0px;
	top: 0px;
}
#n_2_et {
	fill: rgba(255,194,125,1);
}
.n_2_et {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 32px;
	top: 0px;
}
#n_3_eu {
	fill: rgba(255,246,125,1);
}
.n_3_eu {
	position: absolute;
	overflow: visible;
	width: 19px;
	height: 18px;
	left: 63px;
	top: 0px;
}
#Kakaotalk {
	left: 71px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#Instagram {
	left: 71px;
	top: 122px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#n_ID__junhyeok3 {
	left: 71px;
	top: 91px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(81,81,81,1);
}
#n__design_hyeok2 {
	left: 70px;
	top: 151px;
	position: absolute;
	overflow: visible;
	width: 168px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(81,81,81,1);
}
#n_133 {
	position: absolute;
	width: 49.749px;
	height: 49.749px;
	left: 11.888px;
	top: 126.236px;
	overflow: visible;
}
#n_62 {
	position: absolute;
	width: 49.749px;
	height: 49.749px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_61 {
	position: absolute;
	width: 49.749px;
	height: 49.749px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_64 {
	position: absolute;
	width: 31.323px;
	height: 31.323px;
	left: 9.213px;
	top: 9.212px;
	overflow: visible;
}
#n_63 {
	position: absolute;
	width: 31.323px;
	height: 31.323px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_32 {
	fill: rgba(255,255,255,1);
}
.n_32 {
	overflow: visible;
	position: absolute;
	width: 31.323px;
	height: 31.323px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_33 {
	fill: rgba(255,255,255,1);
}
.n_33 {
	overflow: visible;
	position: absolute;
	width: 16.085px;
	height: 16.085px;
	left: 7.619px;
	top: 7.619px;
	transform: matrix(1,0,0,1,0,0);
}
#n_5_e {
	fill: rgba(255,255,255,1);
}
.n_5_e {
	position: absolute;
	overflow: visible;
	width: 3.759px;
	height: 3.759px;
	left: 22.142px;
	top: 5.423px;
}
#n_4_fa {
	fill: url(#n_4_fa);
}
.n_4_fa {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 77.206px;
	left: 0.262px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_147 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 1542.262px;
	top: 14px;
	overflow: visible;
}
#n_22 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_146 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_5_fc {
	fill: rgba(255,255,255,1);
}
.n_5_fc {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n__fd {
	left: 15px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,22,165,1);
}
#Text_fe {
	left: 43px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(81,81,81,1);
}
#Text_ff {
	left: 343.262px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#n_3213213_fg {
	position: absolute;
	width: 77px;
	height: 77px;
	left: 263.262px;
	top: 0px;
	overflow: visible;
}
#n_145 {
	position: absolute;
	width: 1368px;
	height: 897px;
	left: 277.262px;
	top: 2252px;
	overflow: visible;
}
#n_42_fi {
	position: absolute;
	width: 1368px;
	height: 897px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1_fj {
	fill: rgba(255,255,255,1);
}
.n_1_fj {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1398px;
	height: 927px;
	left: 0px;
	top: 0px;
}
#n_5_fk {
	position: absolute;
	width: 1368px;
	height: 72px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_fl {
	fill: rgba(226,255,254,1);
}
.n_4_fl {
	position: absolute;
	overflow: visible;
	width: 1368px;
	height: 72px;
	left: 0px;
	top: 0px;
}
#n_4_fm {
	position: absolute;
	width: 124px;
	height: 28px;
	left: 31px;
	top: 23px;
	overflow: visible;
}
#n_1_fn {
	fill: rgba(255,125,125,1);
}
.n_1_fn {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#n_2_fo {
	fill: rgba(255,194,125,1);
}
.n_2_fo {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 48px;
	top: 0px;
}
#n_3_fp {
	fill: rgba(255,246,125,1);
}
.n_3_fp {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 96px;
	top: 0px;
}
#n__fq {
	left: 514px;
	top: 86px;
	position: absolute;
	overflow: visible;
	width: 342px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
#n___________ {
	left: 315px;
	top: 785px;
	position: absolute;
	overflow: visible;
	width: 739px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(81,81,81,1);
}
#n__1_fs {
	position: absolute;
	width: 402px;
	height: 218px;
	left: 55px;
	top: 481px;
	overflow: visible;
}
#n_1_ft {
	position: absolute;
	width: 387px;
	height: 208px;
	left: 926px;
	top: 486px;
	overflow: visible;
}
#n___fu {
	position: absolute;
	width: 388px;
	height: 218px;
	left: 925px;
	top: 172px;
	overflow: visible;
}
#n_0410__5 {
	position: absolute;
	width: 388px;
	height: 218px;
	left: 55px;
	top: 172px;
	overflow: visible;
}
#Adobe_After_Effects_fw {
	left: 140px;
	top: 721px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Adobe_Illustrator_fx {
	left: 1016px;
	top: 721px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Adobe_Photoshop_fy {
	left: 581px;
	top: 721px;
	position: absolute;
	overflow: visible;
	width: 218px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Cinema_4D {
	left: 1053px;
	top: 417px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Cinema_4D_f {
	left: 183px;
	top: 417px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#n____Adobe_Lightroom_ {
	left: 548px;
	top: 399px;
	position: absolute;
	overflow: visible;
	width: 271px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#n_148 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 1411.262px;
	top: 14px;
	overflow: visible;
}
#n_5_f {
	fill: rgba(255,255,255,1);
}
.n_5_f {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Text_f {
	left: 16px;
	top: 8.5px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,22,165,1);
}
#Text_ga {
	left: 43px;
	top: 35.5px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(81,81,81,1);
}
#n_149 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 1280.262px;
	top: 14px;
	overflow: visible;
}
#n_8_f {
	fill: rgba(255,255,255,1);
}
.n_8_f {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Text_gb {
	left: 34px;
	top: 8.5px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,22,165,1);
}
#n_150 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 1149.262px;
	top: 14px;
	overflow: visible;
}
#n_9_ga {
	fill: rgba(255,255,255,1);
}
.n_9_ga {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Text_gc {
	left: 34px;
	top: 8.5px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,22,165,1);
}
#n_151 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 1018.262px;
	top: 14px;
	overflow: visible;
}
#n_10_gd {
	fill: rgba(255,255,255,1);
}
.n_10_gd {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Text_ge {
	left: 34px;
	top: 8.5px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,22,165,1);
}
#n_2_gf {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 1353.262px;
	top: 3993px;
	overflow: visible;
}
#n__gg {
	position: absolute;
	width: 204px;
	height: 240px;
	left: 862.262px;
	top: 2733px;
	overflow: visible;
}
#PJH05416 {
	position: absolute;
	width: 327px;
	height: 218px;
	left: 797.262px;
	top: 2425px;
	overflow: visible;
}